<side-nav></side-nav>
<md-toolbar class="app-toolbar" md-scroll-shrink>
    <div class="md-toolbar-tools">
        <md-button aria-label="Menu" ng-click="toggle()" class="md-icon-button">
            <md-icon class="material-icons">menu</md-icon>
        </md-button>
        <md-button aria-label="Go back" class="md-icon-button" ng-click="goBack()">
            <md-icon class="material-icons">arrow_back</md-icon>
        </md-button>
        <md-input-container class="md-block" flex md-no-float>
            <input ng-model="liveText" ng-keypress="queryKeyPressed($event)" name="liveText" placeholder="Search">
        </md-input-container>
        <md-button aria-label="Bookmark" class="md-icon-button" ui-sref="home.bookmarks">
            <md-tooltip md-direction="left">All your Bookmarks</md-tooltip>
            <md-icon class="material-icons">collections_bookmark</md-icon>
        </md-button>
    </div>
</md-toolbar>
<section ng-if="showNotice">
    <md-subheader>
            <div>You've not configured 'Home Screen' from Settings. Enable 'Home Screen' from 'Settings'.</div>
            <md-button class="md-primary md-raised" ui-sref="settings.overview">Go to Settings</md-button>
    </md-subheader>
</section>
<div ui-view></div>