<md-content style="position: absolute; height:100%; width: 100%;">
    <section>
        <md-subheader>
            <md-progress-linear ng-if="settings.track_progress" class="progress"
                                md-mode="determinate" value="10">
            </md-progress-linear>
            <div layout="row">
                <div flex>
                    <md-chips>
                        <md-chip>Chapter {{chapter.index+1}}</md-chip>
                        <md-chip>Verse {{verse.index+1}}</md-chip>
                    </md-chips>
                    <div ng-if="settings.language.en">{{verse.content.en}}</div>
                    <!-- annotate sanskrit content with synonym -->
                    <div ng-if="settings.language.sn" ng-repeat="text in verse.content.sans"
                         ng-bind-html="buildFromAnnotated(text, verse.synonyms)">
                    </div>
                </div>
                <div ng-if="!configManager.isMarkedAsRead(verse) && settings.track_progress" flex="7">
                    <md-button class="md-icon-button" ng-click="configManager.markAsRead(verse, false)">
                        <md-tooltip md-direction="left">Mark it as read</md-tooltip>
                        <md-icon class="material-icons">done_all</md-icon>
                    </md-button>
                </div>
                <div ng-if="configManager.isMarkedAsRead(verse)" flex="7">
                    <md-button class="md-icon-button" ng-click="configManager.markAsRead(verse, true)">
                        <md-tooltip md-direction="left">Mark it as unread</md-tooltip>
                        <md-icon class="material-icons">remove_circle</md-icon>
                    </md-button>
                </div>
                <div ng-if="!configManager.isBookmarked(verse)" flex="7">
                    <md-button class="md-icon-button" ng-click="configManager.markInBookmark(verse)">
                        <md-tooltip md-direction="left">Bookmark verse</md-tooltip>
                        <md-icon class="material-icons">bookmark</md-icon>
                    </md-button>
                </div>
            </div>
        </md-subheader>

        <md-list>
            <md-list-item>
                <div class="md-list-item-text">
                    <p ng-repeat="para in verse.purport">{{para}}</p>
                </div>
            </md-list-item>
        </md-list>
    </section>
</md-content>
