.__edit-chapter {
  width: 500px;
  form {
    margin: 30px 40px 30px 30px;

    .form-field {
      padding-bottom: 15px;
    }

    input {
      width: 100%;
      font-size: 1.4rem;
      padding: 5px;
    }

    textarea {
      width: 100%;
      padding: 6px;
      min-height: 150px;
    }
  }
}